body {
  background-color: #fafafa;
  height: 850px;
}

.container-fluid {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  background-color: #fafafa;
}

.col-md-12 {
  /*border: 1px solid;*/
  height: 218px;
  text-align: center;
}

.col-md-8 {
  /*border: 1px solid;*/
}

.col-md-6 {
  /*border: 1px solid;*/
  height: 656px;
}

.col-md-4 {
  /*border: 1px solid;*/
}

img {
  margin-left: -5px;
  margin-top: 10px;
}

h4 {
  color: gray;
}

p {
  border: 1px blue;
  background-color: blue;
  color: white;
  border-radius: 6px;
}

a {
  margin-left: 10px;
}

@media screen and (max-width: 100%) {
  img {
    margin-left: -18px;
  }
}
